# BACKEND CONFIG
PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret

# AIRTABLE OAUTH
AIRTABLE_CLIENT_ID=your_client_id
AIRTABLE_CLIENT_SECRET=your_client_secret

# URLS (Change these for Production)
# The URL of your React Frontend
CLIENT_URL=http://localhost:5173 
# The URL where Airtable redirects after login
AIRTABLE_OAUTH_REDIRECT_URL=http://localhost:5000/api/auth/callback
# The Public URL of your Backend (For Webhooks)
AIRTABLE_WEBHOOK_URL=http://localhost:5000